<%= javascript_include_tag "Chart.bundle", 'chartkick' %>

<h4> Orders last week </h4>
<%= line_chart Order.where(order_status_id: 4).where('updated_at >= ?', 7.days.ago).group_by_day(:updated_at).count %>
<br>
<h4> Orders last month </h4>
<%= line_chart Order.where(order_status_id: 4).where('updated_at >= ?', 30.days.ago).group_by_day(:updated_at).count %>
<br>
<h4> Top selling </h4>
<%= column_chart @top_selling %>
<br>
<h4> Least selling </h4>
<%= column_chart @least_selling %>
<br>
<h4> Top selling by manufacturer</h4>
<%= bar_chart @top_sell_by_man%>
<br>
<h4> Top selling by country </h4>
<%= pie_chart @top_sell_by_country %>
