<div class="product" style="background-color: white;">
  <div class="row">
    <div class="pull-left" style="margin-right: 20px;">
      <%= image_tag product.product_images.first.image.thumb.url %>
    </div>
    <h3> <%= product.manufacturer.name %> <%= product.name %> </h3>
    <h5> Display: <%= product.display_size.name %> @ <%= product.display_resolution.name %> </h5>
    <h5> Chipset: <%= product.chipset.name %> </h5>
    <h5> Memory: <%= product.ram.name %> RAM, <%= product.storage.name %> Storage </h5>
    <h5> Camera: <%= product.rear_camera.name %> Rear, <%= product.front_camera.name %> Front </h5>
    <%= form_for @order_product, remote: true do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>