<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Rails Web Shop </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

     <div id="shopping-cart">
        <%= render "carts/shopping_cart" %>
     </div>

    <% if controller.controller_name == 'home' && controller.action_name == 'index' %>
      <div class="index-container">
        <div style="margin-bottom: 1em">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        </div>
        <%= yield %>
      </div>
    <% else %>
      <div class="body-container">
        <div style="margin-bottom: 1em">
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>

<script>
    (function(){
        $(".shop-cart").on('click', function() {
            $("#shopping-cart").show();
            $(document).mouseup(function(e) {
                var $container = $("#shopping-cart");
                // if the target of the click isn't the container nor a descendant of the container
                if (!$container.is(e.target) && $container.has(e.target).length === 0) {
                    $container.hide();
                    $(document).off("mouseup");
                }
            });
            return false;
        });
    })();
</script>
